.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.bam
*.bai
*.bw
*.bdg
*.pptx
*.xlsx
*.docx
Rplots.pdf
*backup*
*temp*
/logs
sample_info.txt
/data/*
/data/pangenomes/**/*.DB*/
!/data/pangenomes/
!/data/reference_data/
/analysis
/reports
.DS_Store
busco_downloads
