.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.bam
*.bai
*.bw
*.bdg
*.pptx
*.xlsx
*.docx
Rplots.pdf
temp
temp*
/logs
sample_info.txt
/data/*
!/data/reference_data/
/analysis
/reports
.DS_Store
